@font-face {
    font-family: NexaLite; /* Гарнитура шрифта */
    src: url(../fonts/NexaLight.otf); /* Путь к файлу со шрифтом */
   }
@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
}
.navbar-inverse{
    border-radius: 0px;
    background-color: black;
}
.navigator{
    background: url(../img/header_bg.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;

}
.navbar-default{
    border-radius: 0px;
    border-width: 2px;
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;

}
.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 23px;
}
.about_me{
    color: black;
    font-family: NexaLite;
    height: 100vh;
    width: 100vw;

}
.folio{
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background: url(../img/folio_bg.jpg) center no-repeat;
    bacground-size: cover;
}
.folio_img{
    margin-top: 360px;
}
.folio_img2{
    margin-top:50px;
}
.info{
    vertical-align: middle;
    font-family: NexaLite;
    height: 100vh;
    width: 100%;
}
.mail{
    font-family: Georgia;
    op: 500px;
}
